.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #471d7b;
}

.logo {
  height: 80px;
  width: 80px;
}

.button {
  padding: 1rem 2rem;
  border: none;
  background-color: #50b591;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4e9e82;
}

.navbar a {
  text-decoration: none;
}

.navbar .button {
  margin-left: 1rem;
}
